* {
    font-family: 'Roboto', sans-serif;
}

.box {
    background-color: #FBA465;
   
}

.button {
    background-color: #F86E51;
    border-color: #F86E51;
    color: white;
    margin: 0;
    
}

i {
    color: #F86E51;
}


#mail-icon:hover {
    width: 33%;
}

#id-icon:hover {
    width: 30%;
}


/*.card-color {
    background-color: #FBA465;
}*/

.box-color {
    background-color: #ffe865;
}

#p-tagger p {
    margin-top: -15px;
    margin-bottom: 15px;
    font-weight: lighter;
}

.box-text {
    margin-top: -15px;
    margin-bottom: 15px;
    font-weight: lighter;
}

#p-tagger.box {
    margin: 0px;
    padding: 3px;
    width: 300px;
    
}

/*#locations h3{
    color: #b7201f;
    
}*/

#phone-icon-outline {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    top: 60px;
    right: -113px;
}

#mail-icon-outline {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    top: 70px;
    right: -109px;
}

.tabs {

    display: inline-block;
  }
  
  .tabs li.is-active a {
    color: #363636!important;
    border-color: #e39f04!important;
  }
  
  .tabs ul {
    border-bottom-color: #ffffff!important;
  }

