* {
    font-family: 'Roboto', sans-serif;
}

.box {
    background-color: #FBA465;
}

.button {
    background-color: #F86E51;
    border-color: #F86E51;
    color: white;
}

i {
    color: #F86E51;
}


.contact {
    size: 100px    
}

