* {
    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

  .images {
   width: auto;
   height: 175px;
}
  
  .card {
  height: 100%;

}
  
.box {
  background-color: #FBA465;
}

.button {
  background-color: #F86E51;
  border-color: #F86E51;
  color: white;
}

i {
  color: #F86E51;
}