* {
    margin: 0 ;
    padding: 0 ;
}

.navbar-top {
    background-color: #e39f04;
    width: 100%;
    height: 3.3rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.links {
    display: flex;
    justify-content: flex-start; /*sett til space-around hvis du heller vil ha spredt*/
    align-items: center;
    width: 100%;
    height: 100%;

}

.navbar-top li {
    list-style: none;
    margin: 0;
    height: 100%;
    /*width: 10%; */ /*Gjør at teksten kan komme utenfor*/
    padding: 0 2em 0 2rem;
    display: flex;
    align-items: center;
    /* position: relative; */
}

.navbar-top li:hover {
    background-color: #fee247;
}

.navbar-top li:active {
    background-color: #ccb73e;
}

.navbar-top a {
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
    
    /* for å sentrere logoen*/
    display: flex;

}